
.wrapper {
    background-color: #96caf1;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   margin-bottom: 30px;
   padding: 30px;
   margin: 70px auto;
   width: 40%;
   display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center

  }
  .custom-button {
    flex: 1;
  }

  .gButton{
    width:auto;
  }

  .buttonGroup{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

.fromGroup{
   margin-bottom: 30px;
}
.p-inputgroup {
  display: flex;
  padding: 20px;
}

.p-inputgroup .p-button {
  flex-grow: 1;
}
.error{
    color: rgb(220, 16, 16);
    padding-left: 20px;
}




  @media (max-width: 768px) {
    .wrapper {
        width: 90%;
       padding: 20px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .custom-button {
      width: 100%; /* Width for mobile view */
    }
  }
