<div>
    <p-card>
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" ></p-breadcrumb>
        </div>
        <!-- <div class="top-content">
            <div class="assesment-header">
                <p class="assessment-text">Assessment</p>
            </div>
            <div class="home">
                <i class="home-icon" class="fal fa-home"></i>
                <span class="home-text"> Home > <p>Assessment</p></span>
            </div>
        </div> -->
        <div class="candidate-table">
            <p-table [value]="candidateData"
            #dt1

             [paginator]="true"
              [rows]="5"
              [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[4, 8, 12]"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="['CandidateName', 'Manager', 'Assesssment', 'Skills','Result']"
            >
            <!-- <ng-template pTemplate="caption"> -->

                <!-- <p-toolbar>
                    <div class="p-toolbar-group-start ml-auto toolbar-start">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Search keyword" />
                        </span>
                         <p-dropdown [options]="managers" [(ngModel)]="selectedManager" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Manager">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedManager">
                                <div>{{ selectedManager.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-manager pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ manager.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p-multiSelect [options]="candidates" [(ngModel)]="selectedCandidate" placeholder="Candidate(s)" optionLabel="name" display="chip" [showClear]="true"></p-multiSelect>

                    </div>
                    <div class="p-toolbar-group-center">
                        <p-dropdown [options]="status" [(ngModel)]="selectedStatus" placeholder="Status"></p-dropdown>

                        <p-dropdown [options]="skills" [(ngModel)]="selectedSkill" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Skills">
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="selectedSkill">
                                    <div>{{ selectedSkill.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-skill pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ skill.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-toolbar-group-end">
                        <button pButton label="Clear" class="p-button-outlined p-button-danger" icon="pi pi-filter-slash" ></button>
                    </div>
                </p-toolbar> -->




                <!-- <div class="flex">
                    <span class="p-input-icon-right ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search keyword" />
                    </span>
                    <p-dropdown [options]="managers" [(ngModel)]="selectedManager" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Manager">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedManager">
                                <div>{{ selectedManager.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-manager pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ manager.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                    <p-multiSelect [options]="candidates" [(ngModel)]="selectedCandidate" placeholder="Candidate(s)" optionLabel="name" display="chip" [showClear]="true"></p-multiSelect>
                    <p-dropdown [options]="status" [(ngModel)]="selectedStatus" placeholder="Status"></p-dropdown>

                    <p-dropdown [options]="skills" [(ngModel)]="selectedSkill" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Skills">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedSkill">
                                <div>{{ selectedSkill.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-skill pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ skill.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <button pButton label="Clear Filter" class="p-button-outlined p-button-danger"  ></button>

                </div> -->


            <!-- </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="7">

                            <div class="filter-components">
                            <div>
                            <span class="p-input-icon-right ml-auto search-bar">
                                <i class="pi pi-search"></i>
                                <input class="search-bar" pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search" />
                            </span>
                        </div>
                        <div class="dropdown-bar">
                            <p-columnFilter  field="Manager" matchMode="in" [showMenu]="false" [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <p-multiSelect  [ngModel]="value" appendTo="body" [options]="managers" placeholder="Manager" (onChange)="filter($event.value)"  [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
                                    <ng-template let-option pTemplate="item">
                                      <div class="inline-block vertical-align-middle">
                                        <span class="ml-1 mt-1">{{ option}}</span>
                                      </div>
                                    </ng-template>
                                  </p-multiSelect>
                                </ng-template>
                              </p-columnFilter>
                            </div>
                                <div>
                            <p-columnFilter field="CandidateName" matchMode="in" [showMenu]="false" [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <p-multiSelect [ngModel]="value" appendTo="body" [options]="candidates" placeholder="Candidate(s)" (onChange)="filter($event.value)"  [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
                                    <ng-template let-option pTemplate="item">
                                      <div class="inline-block vertical-align-middle">
                                        <span class="ml-1 mt-1">{{ option}}</span>
                                      </div>
                                    </ng-template>
                                  </p-multiSelect>
                                </ng-template>
                              </p-columnFilter>
                            </div>
                            <div class="dropdown-bar">
                            <p-columnFilter field="Result" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)" placeholder="Status" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="option" [ngClass]="getResultClass(option)"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                        <div >
                            <p-columnFilter class="dropdown-skills"  field="Skills" matchMode="contains"[showMenu]="false" [showClearButton]="true">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <p-multiSelect [style]="{width :'175px'}" [ngModel]="value" appendTo="body" [options]="skills" placeholder="Skills" (onChange)="filter($event.value)"  [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
                                    <ng-template let-option pTemplate="item">
                                      <div class="inline-block vertical-align-middle">
                                        <span class="ml-1 mt-1">{{option}}</span>
                                      </div>
                                    </ng-template>
                                  </p-multiSelect>
                                </ng-template>
                              </p-columnFilter>
                            </div>
                            <div class="button-div">
                            <button  pButton label="Clear filter" class="p-button-outlined p-button-danger"  (click)="clear(dt1)"></button>
                        </div>
                    </div>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th pSortableColumn="CandidateName">

                            Candidate Name
                             <p-sortIcon field="CandidateName"></p-sortIcon>

                            </th>
                        <th pSortableColumn="Manager">Manager <p-sortIcon field="Manager"></p-sortIcon></th>
                        <th>Assessment</th>
                        <th pSortableColumn="Date">Date  <p-sortIcon field="Date"></p-sortIcon></th>
                        <th>Skills</th>
                        <th>Result</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-candidate>
                    <tr>
                        <td>{{ candidate.CandidateName }}</td>
                        <td>{{ candidate.Manager }}</td>
                        <td>{{ candidate.Assesssment }}</td>
                        <td>{{ candidate.Date }}</td>
                        <td>
                            <span class="skills" *ngFor="let item of getFormattedSkills(candidate.Skills).skills">
                                <p-chip  label={{item}} ></p-chip>
                            </span> <span *ngIf="getFormattedSkills(candidate.Skills).remainingCount > 0">+
                                    <p-badge [value]="getFormattedSkills(candidate.Skills).remainingCount.toString()"></p-badge>
                                </span>
                        </td>
                        <!-- <td>{{getFormattedSkills(candidate.Skills) }}</td> -->
                        <td><p [ngClass]="getResultClass(candidate.Result)">{{ candidate.Result }}</p> </td>
                        <td>{{ candidate.Score }}</td>
                        <td>icons</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</div>